<div>
  <%= turbo_frame_tag :current do %>
    <h1><%= @current_weather.name %></h1>
    <h3>
      <%= @zip_code %>,
      <%= @country_code.upcase %>
    </h3>

    <div class="mt-3">
      <%= t '.current_temperature' %>:
      <%= number_with_precision @current_weather.main.temp_f, precision: 0 %> 째F
    </div>
    <div>
      <%= t '.high_low' %>:
      <%= number_with_precision @current_weather.main.temp_max_f, precision: 0 %> 째F
      /
      <%= number_with_precision @current_weather.main.temp_min_f, precision: 0 %> 째F
    </div>
    <div>
      <%= t '.feels_like' %>:
      <%= number_with_precision @current_weather.main.feels_like_f, precision: 0 %> 째F
    </div>
    <div>
      <%= t '.humidity' %>:
      <%= @current_weather.main.humidity %>%
    </div>
    <div>
      <%= t '.pressure' %>:
      <%= @current_weather.main.pressure %> mb
    </div>

    <div class="mt-3">
      <% if @was_cached %>
        Weather information last updated <%= time_ago_in_words @last_updated_at %> ago
      <% else %>
        Weather information up to date
      <% end %>
    </div>
  <% end %>
</div>
