<div>
  <%= turbo_frame_tag :details do %>
    <div class="p-8">
      <div class="text-center">
        <div class="text-xl">
          <%= @current_weather.name %>, <%= @current_weather.sys.country %>
        </div>
        <div class="text-6xl font-medium">
          <%= number_with_precision @current_weather.main.temp_f, precision: 0 %> 째F
        </div>
      </div>
      <div class="mt-5 mx-auto max-w-sm divide-y divide-gray-100">
        <div class="flex justify-between space-x-3 py-4">
          <div class="font-medium"><%= t '.high_low' %></div>
          <div>
            <%= number_with_precision @current_weather.main.temp_max_f, precision: 0 %> 째F
            /
            <%= number_with_precision @current_weather.main.temp_min_f, precision: 0 %> 째F
          </div>
        </div>
        <div class="flex justify-between space-x-3 py-4">
          <div class="font-medium"><%= t '.feels_like' %></div>
          <div><%= number_with_precision @current_weather.main.feels_like_f, precision: 0 %> 째F</div>
        </div>
        <div class="flex justify-between space-x-3 py-4">
          <div class="font-medium"><%= t '.humidity' %></div>
          <div><%= @current_weather.main.humidity %>%</div>
        </div>
        <div class="flex justify-between space-x-3 py-4">
          <div class="font-medium"><%= t '.pressure' %></div>
          <div><%= @current_weather.main.pressure %> mb</div>
        </div>
      </div>
      <div class="mt-5 text-center text-sm text-gray-500">
        <% if @outcome.was_cached %>
          <%= t '.timestamp.cached', time: time_ago_in_words(@outcome.last_updated_at) %>
        <% else %>
          <%= t '.timestamp.not_cached' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
